.m-meteorShower{width:100%;height:100%;}
.m-meteorShower .star{display:block;position:absolute;width:46px;height:46px;background:url(../i/meteor.png);-webkit-animation:star 1s linear infinite}
.m-meteorShower .star.style1{width:20px;height:20px;background-position:0 -137px}
.m-meteorShower .star.style2{width:43px;height:43px;background-position:-20px -137px}
.m-meteorShower .star.style3{width:42px;height:42px;background-position:-63px -137px}
.m-meteorShower .star.style4{width:50px;height:50px;background-position:-105px -137px}
.m-meteorShower .meteor{display:block;position:absolute;width:255px;height:50px;background:url(../i/meteor.png);-webkit-animation:meteor 1s linear infinite}
.m-meteorShower .meteor.style1{width:260px;height:20px;background-position:0 0}
.m-meteorShower .meteor.style2{width:260px;height:29px;background-position:0 -20px}
.m-meteorShower .meteor.style3{width:200px;height:39px;background-position:0 -49px}
.m-meteorShower .meteor.style4{width:256px;height:50px;background-position:0 -88px}
@-webkit-keyframes star{0%{opacity:0;-webkit-transform:scale(0.5)}60%{opacity:1;-webkit-transform:scale(1)}100%{opacity:0;-webkit-transform:scale(0.5)}}
@-webkit-keyframes meteor{0%{opacity:0;-webkit-transform:rotate(-40deg) translateX(0px) scale(0.2)}20%{opacity:.7}80%{opacity:1}100%{opacity:0;-webkit-transform:rotate(-40deg) translateX(-500px) scale(1)}}
/*云*/
.xiaoguo{position: absolute;width:100%;}
.xiaoguo{-webkit-animation: xiaoguo 5s linear infinite ;	/* Safari 和 Chrome */}
@-webkit-keyframes xiaoguo /* Safari 和 Chrome */
{0%   {left:-725px; top:20%;opacity: 0.5;}
100% {left:725px; top:20%;opacity: 1;}
}

.xiaoguo1{position: absolute;width:100%;}
.xiaoguo1{-webkit-animation: xiaoguo1 6s linear infinite ;	/* Safari 和 Chrome */}
@-webkit-keyframes xiaoguo1 /* Safari 和 Chrome */
{0%   {left:-440px; top:13%;opacity: 0.5;}
100% {left:640px; top:13%;opacity: 1;}
}


.xiaoguo2{position: absolute;width:100%;}
.xiaoguo2{-webkit-animation: xiaoguo2 8s linear infinite ;	/* Safari 和 Chrome */}
@-webkit-keyframes xiaoguo2 /* Safari 和 Chrome */
{0%   {left:-506px; top:10%;opacity:1;}
100% {left:640px; top:10%;opacity: 1;}
}


.xiaoguo3{position: absolute;width:100%;}
.xiaoguo3{-webkit-animation: xiaoguo3 12s linear infinite ;	/* Safari 和 Chrome */}
@-webkit-keyframes xiaoguo3 /* Safari 和 Chrome */
{0%   {left:-462px; top:20%;opacity:1;}
100% {left:640px; top:20%;opacity: 1;}
}

.xiaoguo4{position: absolute;width:100%;}
.xiaoguo4{-webkit-animation: xiaoguo4 10s linear infinite ;	/* Safari 和 Chrome */}
@-webkit-keyframes xiaoguo4 /* Safari 和 Chrome */
{0%   {left:-725px; top:7%;opacity: 1;}
100% {left:725px; top:7%;opacity: 1;}
}



/*流星效果*/
.light{
            cursor:pointer;
            position: absolute;
            width: 180px;
            height: 1px;
            background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
            transform: skewx(-25deg);
            -webkit-transform: rotate(-45deg);
        }
		.sprite1 .light,
		.sprite2 .light,
		.sprite3 .light,
         .sprite4 .light,
         .sprite5 .light,
         .sprite6 .light,
         .sprite7 .light,
         .sprite8 .light,
         .sprite9 .light,
         .sprite10 .light{
            position: absolute;
            width: 180px;
            height: 1px;
            background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
            transform: skewx(-25deg);
            -webkit-transform: rotate(-45deg);
        }
         .sprite4 .light{-webkit-animation:light1 5s ease-out infinite;}
         .sprite5 .light{-webkit-animation:light2 10s ease-out infinite;}
         .sprite6 .light{-webkit-animation:light3 8s ease-out infinite;}
         .sprite7 .light{-webkit-animation:light4 12s ease-out infinite;}
         .sprite8 .light{-webkit-animation:light5 7s ease-out infinite;}
         .sprite9 .light{-webkit-animation:light6 4s ease-out infinite;}
         .sprite10 .light{-webkit-animation:light7 3s ease-out infinite;}
		 
		 .sprite1 .light{-webkit-animation:light8 4s ease-out infinite;}
		 .sprite2 .light{-webkit-animation:light9 13s ease-out infinite;}
		 .sprite3 .light{-webkit-animation:light10 15s ease-out infinite;}
		 
@-webkit-keyframes light1 {
            0% { top:-250px; left:350px; opacity:0; }
            20% { top:-250px; left:350px; opacity:0; }
            10% { top:-250px; left:350px; opacity:0; }
            30% { top:-250px; left:350px; opacity:0; }
            40% { top:-250px; left:350px; opacity:0; }
            50% { top:-250px; left:350px; opacity:0; }
            60% { top:-250px; left:350px; opacity:0; }
            70% { top:-250px; left:350px; opacity:0; }
            80% { top:0px; left:100px; opacity:0.5;}
            90% { top:250px; left:-150px; opacity:1;}
            100% { top:500px; left:-400px; opacity:0;}
        }
        @-webkit-keyframes light2 {
            0% { top:-250px; left:450px; opacity:0; }
            20% { top:-250px; left:450px; opacity:0; }
            10% { top:-250px; left:450px; opacity:0; }
            30% { top:-250px; left:450px; opacity:0; }
            40% { top:-250px; left:450px; opacity:0; }
            50% { top:-250px; left:450px; opacity:0; }
            60% { top:-250px; left:450px; opacity:0; }
            70% { top:-250px; left:450px; opacity:0; }
            80% { top:0px; left:200px; opacity:0.5;}
            90% { top:250px; left:-50px; opacity:1;}
            100% { top:500px; left:-300px; opacity:0;}
        }
        @-webkit-keyframes light3{
            0% { top:-250px; left:550px; opacity:0; }
            20% { top:-250px; left:550px; opacity:0; }
            10% { top:-250px; left:550px; opacity:0; }
            30% { top:-250px; left:550px; opacity:0; }
            40% { top:-250px; left:550px; opacity:0; }
            50% { top:-250px; left:550px; opacity:0; }
            60% { top:-250px; left:550px; opacity:0; }
            70% { top:-250px; left:550px; opacity:0; }
            80% { top:0px; left:300px; opacity:0.5;}
            90% { top:250px; left:50px; opacity:1;}
            100% { top:500px; left:-200px; opacity:0;}
        }

        @-webkit-keyframes light4{
            0% { top:-250px; left:500px; opacity:0; }
            20% { top:-250px; left:500px; opacity:0; }
            10% { top:-250px; left:500px; opacity:0; }
            30% { top:-250px; left:500px; opacity:0; }
            40% { top:-250px; left:500px; opacity:0; }
            50% { top:-250px; left:500px; opacity:0; }
            60% { top:-250px; left:500px; opacity:0; }
            70% { top:-250px; left:500px; opacity:0; }
            80% { top:0px; left:250px; opacity:0.5;}
            90% { top:250px; left:0px; opacity:1;}
            100% { top:500px; left:-250px; opacity:0;}
        }

        @-webkit-keyframes light5{
            0% { top:-250px; left:650px; opacity:0; }
            20% { top:-250px; left:650px; opacity:0; }
            10% { top:-250px; left:650px; opacity:0; }
            30% { top:-250px; left:650px; opacity:0; }
            40% { top:-250px; left:650px; opacity:0; }
            50% { top:-250px; left:650px; opacity:0; }
            60% { top:-250px; left:650px; opacity:0; }
            70% { top:-250px; left:650px; opacity:0; }
            80% { top:0px; left:400px; opacity:0.5;}
            90% { top:250px; left:150px; opacity:1;}
            100% { top:500px; left:-100px; opacity:0;}
        }

        @-webkit-keyframes light6{
            0% { top:-250px; left:400px; opacity:0; }
            20% { top:-250px; left:400px; opacity:0; }
            10% { top:-250px; left:400px; opacity:0; }
            30% { top:-250px; left:400px; opacity:0; }
            40% { top:-250px; left:400px; opacity:0; }
            50% { top:-250px; left:400px; opacity:0; }
            60% { top:-250px; left:400px; opacity:0; }
            70% { top:-250px; left:400px; opacity:0; }
            80% { top:0px; left:150px; opacity:0.5;}
            90% { top:250px; left:-100px; opacity:1;}
            100% { top:500px; left:-350px; opacity:0;}
        }

        @-webkit-keyframes light7{
            0% { top:-250px; left:600px; opacity:0; }
            20% { top:-250px; left:600px; opacity:0; }
            10% { top:-250px; left:600px; opacity:0; }
            30% { top:-250px; left:600px; opacity:0; }
            40% { top:-250px; left:600px; opacity:0; }
            50% { top:-250px; left:600px; opacity:0; }
            60% { top:-250px; left:600px; opacity:0; }
            70% { top:-250px; left:600px; opacity:0; }
            80% { top:0px; left:350px; opacity:0.5;}
            90% { top:250px; left:100px; opacity:1;}
            100% { top:500px; left:-150px; opacity:0;}
        }
		 @-webkit-keyframes light8{
            0% { top:250px; left:1000px; opacity:0; }
            20% { top:250px; left:1000px; opacity:0; }
            10% { top:250px; left:1000px; opacity:0; }
            30% { top:250px; left:1000px; opacity:0; }
            40% { top:250px; left:1000px; opacity:0; }
            50% { top:250px; left:1000px; opacity:0; }
            60% { top:250px; left:1000px; opacity:0; }
            70% { top:250px; left:1000px; opacity:0; }
            80% { top:300px; left:450px; opacity:0.5;}
            90% { top:500px; left:100px; opacity:1;}
            100% { top:800px; left:-150px; opacity:0;}
        }
/*流星效果END*/

.texiao0{ position: absolute;top:12.4%;width:100%;text-align:center;}

.texiao1{-webkit-animation:diyizhang 3s linear;}
.texiao1{position: absolute; top:1%; width:100%; text-align:center; display: block;height:1008px; overflow:hidden}

.texiao2{-webkit-animation:dishiuzhang 1s linear;}
.texiao2{position: absolute; top:11.1%; width:100%; text-align: center; }

.texiao3{-webkit-animation:dierzhang 3s linear;}
.texiao3{position: absolute; top:31.1%; width:89px;text-align:right; right:36.7%; height:496px;overflow:hidden; display:block;}

.texiao4{-webkit-animation:fadeInUpBig 3s linear;}
.texiao4{position: absolute; top:1%; width:100%; text-align:center; display: block;height:1008px; overflow:hidden}

.texiao5{-webkit-animation:fadeInLeftBig 1s linear;}
.texiao5{position: absolute; top:9.9%; width:100%; text-align:left; left:22.5%;}

.texiao6{-webkit-animation:disizhang 1s linear;}
.texiao6{position: absolute; top:9.6%; width:100%;text-align: center;}

.texiao7{-webkit-animation:dishiuzhang 1s linear;}
.texiao7{position: absolute; top:47%; width:100%;text-align: center;}

.texiao8-1{-webkit-animation:dishiuzhang 1s linear;}
.texiao8{position: absolute; bottom:15.4%; width:100%;padding:20px 0; text-align:center;}

.texiao9{-webkit-animation:dishiuzhang 1s linear;}
.texiao9{position: absolute; bottom:18%; width:100%; text-align: center;}

.texiao10{-webkit-animation:rotateInDownLeft 1s linear;}
.texiao10{position: absolute; top:28.8%; width:100%;text-align:right; right:34.2%;}

.texiao11{-webkit-animation:dishiuzhang 1s linear;}
.texiao11{position: absolute; top:13.6%; width:100%; text-align: center;}

.texiao12{-webkit-animation:dishiuzhang 1s linear;}
.texiao12{position: absolute; bottom:18.8%; width:174px; right:25.8%; text-align: right}

.texiao13{-webkit-animation:diliuzhang 1s linear;}
.texiao13{position: absolute; bottom:21.4%; width:100%; left:20%; text-align: left}

.texiao14{-webkit-animation:rotateInUpLeft 1s linear;}
.texiao14{position: absolute; top:38.4%; width:100%; right:40.9%; text-align: right}

.texiao15{-webkit-animation:flipInX 1s linear;}
.texiao15{position: absolute; top:9.5%; width:100%; text-align:left; left:31.6%;}

.texiao17{-webkit-animation:dishiuzhang 1s linear;}
.texiao17{position: absolute; top:10.1%; width:100%; text-align: center;}

.texiao18{-webkit-animation:dishiuzhang 1s linear;}
.texiao18{position: absolute; bottom:27.4%; width:100%; text-align: center;}

.texiao19{-webkit-animation:dishiuzhang 1s linear;}
.texiao19{position: absolute; top:61.6%; width:100%; text-align: center;}

.texiao19-1{-webkit-animation:dishiuzhang 1s linear .5s backwards;}
.texiao19-1{position: absolute; top:69.1%; width:100%; text-align: center;}

.margin-top7{ margin-top:7px;}
.margin-top30{ margin-top:30px;}
.margin-top35{ margin-top:35px;}
.margin-top11{ margin-top:11px;}






.texiao22{position: absolute; top:6.9%; width:100%;background-color:rgba(255,255,255,0.3); padding:45px 0; text-align:center;}

.texiao23{-webkit-animation:dishiuzhang 1s linear;}
.texiao24{-webkit-animation:dishiuzhang 1s linear; text-align:center; position:absolute; bottom:49%; width:100%}
.texiao25{-webkit-animation:dishiuzhang 1s linear .5s backwards; text-align:center; position:absolute; bottom:8.2%; width:100%}


.texiao26{position: absolute; top:7.8%; width:100%; text-align: center;-webkit-animation:diershiyizhang 1s linear;}
.texiao29{position: absolute; top:35.1%; width:100%; text-align: center;-webkit-animation:diershiyizhang 1s linear .5s backwards;}

.texiao27{position: absolute;bottom:15.1%; width:100%;text-align: center;-webkit-animation:diershiyizhang 1s linear 1s backwards;}
.texiao28{position: absolute; bottom:5.5%; width:100%; text-align: center;-webkit-animation:diershiyizhang 1s linear 1.5s backwards;}
.texiao30{position: absolute; top:39.4%; width:100%; text-align: center;-webkit-animation:flip 1s linear 2s backwards;}

.texiao31{position: absolute; bottom:15.2%; width:100%; text-align: center;-webkit-animation:diershiyizhang 1s linear;}
.texiao32{position: absolute; bottom:14.3%; width:100%; text-align: center;-webkit-animation:diershiyizhang 1s linear;}




/* 第1页淡出-中间浮动 */
@keyframes diyizhang {
0%   { width: 100%; height: 0px;   opacity: 0; }
100% { width: 100%; height: 1000px; opacity: 1; }
}
@-webkit-keyframes diyizhang{
0%   { width: 100%; height: 0px;   opacity: 0; }
100% { width: 100%; height: 1000px; opacity: 1; }

}	


/* 第2页淡出-从左到右隐现 */
@-webkit-keyframes dierzhang{
0%{ width:89%; height:0;opacity: 0;}
100% {width:89%; height:496px;opacity: 1;}}
}



/* 第3页淡出-从下到上浮动 */

@-webkit-keyframes disanzhang{
  0% {left:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {left:10%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {left:19.4%;
opacity: 0.7; /*结尾状态 透明度为1*/
}
100% {left:18.4%;
opacity: 1; /*结尾状态 透明度为1*/
}
}


/* 第4页淡出-从下到上浮动 */

@-webkit-keyframes disizhang{
  0% {top:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {top:5%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {top:10.6%;
opacity: 0.7; /*结尾状态 透明度为1*/
}
100% {top:9.6%;
opacity: 1; /*结尾状态 透明度为1*/
}
}



/* 第5页淡出-从左到右 */

@-webkit-keyframes diwuzhang{
  0% {left:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {left:13%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {left:27.7%;
opacity: 0.7; /*结尾状态 透明度为1*/
}
100% {left:26.7%;
opacity: 1; /*结尾状态 透明度为1*/
}
}


/* 第6页淡出 */

@-webkit-keyframes diliuzhang{
  0% {left:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {left:10%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {left:21%;
opacity: 0.7; /*结尾状态 透明度为1*/
}
100% {left:20%;
opacity: 1; /*结尾状态 透明度为1*/
}
}



/* 第7页淡出 */

@-webkit-keyframes diqizhang{
  0% {bottom:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {bottom:6%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {bottom:13%;
opacity: 0.7; /*结尾状态 透明度为1*/
}
100% {right:12%;
opacity: 1; /*结尾状态 透明度为1*/
}
}



/* 第8页淡出 */

@-webkit-keyframes dibazhang{
0%{ width:100%; height:0;opacity: 0;}
100% {width:100%; height:343px;opacity: 1;}}
}




/* 第9页淡出 */

@-webkit-keyframes dijiuzhang{
  0% {right:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {right:12%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {right:26.8%;
opacity: 0.7; /*结尾状态 透明度为1*/
}
100% {right:25.8%;
opacity: 1; /*结尾状态 透明度为1*/
}
}

/* 第9页淡出 */

@-webkit-keyframes dishizhang{
  0% {bottom:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {bottom:6%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {bottom:13.2%;
opacity: 0.7; /*结尾状态 透明度为1*/
}
100% {bottom:12.2%;
opacity: 1; /*结尾状态 透明度为1*/
}
}


/* 第10页淡出 */

@-webkit-keyframes dishiuzhang{
 0%{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);opacity:0;}50%{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);opacity:0.5;}100%{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);opacity:1;}
}



/* 第11页淡出 */

@-webkit-keyframes dishiyizhang{
  0% {left:30%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {left:15%;
opacity: 0.7; /*初始状态 透明度为0*/
}

100% {left:0%;
opacity: 1; /*结尾状态 透明度为1*/
}
}



/* 第12页淡出 */

@-webkit-keyframes dishierzhang{
  0% {left:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {left:3%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {left:8%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {left:7%;
opacity: 1; /*结尾状态 透明度为1*/
}
}




/* 第13页淡出 */

@-webkit-keyframes dishisanzhang{
  0% {left:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {left:3%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {left:7%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {left:6%;
opacity: 1; /*结尾状态 透明度为1*/
}
}



/* 第14页淡出 */

@-webkit-keyframes dishisizhang{
  0% {left:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {left:4%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {left:10%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {left:9%;
opacity: 1; /*结尾状态 透明度为1*/
}
}



/* 第15页淡出 */

@-webkit-keyframes dishiwuzhang{
  0% {left:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {left:3%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {left:8%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {left:7%;
opacity: 1; /*结尾状态 透明度为1*/
}
}


/* 第16页淡出 */

@-webkit-keyframes dishiliuzhang{
  0% {left:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {left:4%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {left:10%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {left:9%;
opacity: 1; /*结尾状态 透明度为1*/
}
}


/* 第17页淡出 */

@-webkit-keyframes dishiqizhang{
  0% {right:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {right:4%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {right:9%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {right:8%;
opacity: 1; /*结尾状态 透明度为1*/
}
}




/* 第18页淡出 */

@-webkit-keyframes dishibazhang{
  0% {right:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {right:4%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {right:9%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {right:8%;
opacity: 1; /*结尾状态 透明度为1*/
}
}



/* 第19页淡出 */

@-webkit-keyframes dishijiuzhang{
  0% {left:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {left:5%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {left:11%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {left:10%;
opacity: 1; /*结尾状态 透明度为1*/
}
}



/* 第21页淡出 */

@-webkit-keyframes diershiyizhang{
 0%{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);opacity:0;}50%{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);opacity:0.5;}100%{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);opacity:1;}
}



/* 第21-1页淡出 */

@-webkit-keyframes diershierzhang{
  0% {bottom:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {bottom:5%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {bottom:11%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {bottom:10%;
opacity: 1; /*结尾状态 透明度为1*/
}
}

/* 第21-1页淡出 */

@-webkit-keyframes guanzhu{
  0% {bottom:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {bottom:30%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {bottom:39%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {bottom:38%;
opacity: 1; /*结尾状态 透明度为1*/
}
}

/* 第21-1页淡出 */

@-webkit-keyframes fenxiang{
  0% {bottom:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {bottom:15%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {bottom:21%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {bottom:20%;
opacity: 1; /*结尾状态 透明度为1*/
}
}


/* 第23页淡出 */

@-webkit-keyframes diershisan{
  0% {right:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {right:3%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {right:7%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {right:6%;
opacity: 1; /*结尾状态 透明度为1*/
}
}


/* 第24页淡出 */

@-webkit-keyframes diershiyizhang{
 0%{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);opacity:0;}50%{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);opacity:0.5;}100%{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);opacity:1;}
}




/* 第25页淡出 */

@-webkit-keyframes diershiwuz{
  0% {right:0%;
opacity: 0; /*初始状态 透明度为0*/
}
  50% {right:0%;
opacity: 0; /*初始状态 透明度为0*/

}
85% {right:0%;
opacity: 1; /*结尾状态 透明度为1*/
}
100% {right:0%;
opacity: 1; /*结尾状态 透明度为1*/
}
}








